---
layout: members
title: Members of Better Island Transit
description: Meet the people behind Better Island Transit, and learn about our board.
permalink: /members
# image: '/images/og.png'
---

<!-- begin members -->
<div class="testimonials__wrap">
  <div class="container">
    <div class="row">
      {% for author in site.authors  %}
      <div class="col col-6 col-d-6 col-t-12">
        <div class="testimonial__item">
          <div class="testimonial__inner">
            <div class="testimonial__info">
              <div class="testimonial__meta">
                {% if author.image %}
                  <div class="testimonial__image">
                    <img class="testimonial__avatar lazy" data-src="{{ author.image | relative_url }}" alt="{{ author.name }}">
                  </div>
                {% endif %}
                <div class="testimonial__content">
                  {% if author.name %}
                    <h3 class="testimonial__name">
                      {% if author.link %}
                        <a href="{{author.link}}" target="_blank" rel="noopener">{{ author.name }}</a>
                      {% else %}
                        {{ author.name }}
                      {% endif %}
                    </h3>
                  {% endif %}
                  {% if author.designation %}
                    <p class="testimonial__designation">{{ author.designation }}</p>
                  {% endif %}
                </div>
              </div>
              {% if author.icon %}
                <div class="testimonial__icon">
                  <i class="{{ author.icon }}" style="color: {{ author.icon_color }};"></i>
                </div>
              {% endif %}
            </div>
            <p class="testimonial__text">“{{ author.content }}”</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
<!-- end members -->